@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-light: #F0EAF8;
  --color-primary-text: #000853;
  --color-secondary-text: #898DA9;
  --color-arrow-text: #CBB6E5;
  --color-primary: #761BE4;
  --color-secondary: #F0EAF8;
  --color-accent: #CBB6E5;
  --color-error-primary: #ED4545;
  --color-error-secondary: #FEECEC;
}



